<nav
  class="hidden lg:flex justify-end items-center px-8 py-0 sticky top-0 z-50 backdrop-blur-xl border-l border-b border-outline-variant bg-surface-container-high/80 rounded-bl-3xl ml-auto w-fit"
>
  <div class="flex items-center">
    @for (item of navItems; track item.path) {
      <a
        class="px-6 py-6 font-label-md text-on-surface-variant hover:text-primary transition-colors"
        [routerLink]="item.path"
        routerLinkActive="!text-primary font-bold border-b-2 border-primary"
        >{{ item.label }}</a
      >
    }
  </div>
</nav>
